<!-- <div style="background-color:blue;">
    <div class="row">
<div class="col-sm-6">
   <a href=""><h1>MY-STORE</h1></a> 
</div>
<div class="col-sm-6">
    <a style="padding: 30px;margin-left: 60%;"class="fa fa-shopping-cart" aria-hidden="true" id="img1"><h2>Check Out</h2></a>
</div>

    </div>
</div> -->


<div style="background-color:blue ;" id="container">
  <div class="row">
    <div class="col-sm-2">
<a href=""><h1>MY STORE</h1></a>
    </div>
    <div class="col-md-6">
      <div id="first">
<a routerLink="/cart" class="button fancy-button"  style="padding:10px;"><i class="fa fa-shopping-cart" aria-hidden="true" id="img1" style="height: 24px; width: 24px;"></i>CheckOut({{itemCount()}})</a>
      </div>
    </div>
  </div>

</div>



















<!-- <div style="background-color:blue ;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">MY STORE</a>
          </div>
          <ul class="nav navbar-nav">
           
            <li><a href="checkout" id="b">Check Out</a></li>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </ul>
        </div>
      </nav>
    </div> -->
